

<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>
        MessageArguments - BlackBerry WebWorks
    </title>

    <script type="text/javascript" src="https://bdsc.webapps.blackberry.com/html5/webroot/js/pagehead.min.js"></script>
    <link href="https://bdsc.webapps.blackberry.com/html5/webroot/css/main.min.css" type="text/css" rel="stylesheet" />
</head>

<body>
<div class="site_container clearfix guide-container">
    

<section  class="page_container references">
	<div class="row">
        <nav class="column grid_4 side-navigation" id="side-nav-api" role="navigation">
            <div id="sticky-anchor"> </div>
            <div class="side-nav-wrapper" id="sticky">
                <div class="side-nav-content clearfix" id="none">
                    <div class="side-nav-section clearfix" id="side-nav-title">
                        <h3>API Reference</h3>
                    </div>
                    <div class="side-nav-section loading clearfix" id="side-nav-parents"> 
                    </div>
                    <div class="side-nav-section clearfix" id="side-nav-filter"> 
                    </div>
                    <div class="side-nav-section loading clearfix" id="side-nav-children"> 
                    </div>
                </div>
            </div>
            <div class="side-navspacer-bottom"> </div>
        </nav>

        <div class="column grid_8">
                <div class="row">
                    <article id="main" class="column grid_8" role="main">
                        

<section>

    <script type="text/javascript">

        function viewSupportedTable() {
            var table = document.getElementById('APISupportTable');
            if (table != null && table.style.display != 'inline') {
                table.style.display = 'inline';
            }
            else {
                table.style.display = 'none';
            }
        }

    </script>
    
    <style type="text/css">

        .apiYes {
            background-color: #D1F8FB;
        }
        
        .tdNoWrap {
            white-space:nowrap;
        }
        
        .APISupportTable {
            display:none;
        }
    </style>

    <div>


        <h1>
            
                MessageArguments
            
        </h1>


        
            <p>
                The MessageArguments object is an instance object, and is used as a parameter to the invoke() method when invoking the Messaging application.


                
            </p>
        


        
            
            <br />
        


        


        


        
            <div class="ref-sect ref-index">
                <div class="ref-sect-title">
                    <h2>Supported Platform(s)</h2>
                </div>
                <div class="ref-sect-content">
                    
                        <table>
                            <tbody>
                            
                                <tr><td>- BlackBerry OS 5.0+</td></tr>
                            
                                <tr><td>- Ripple Emulator</td></tr>
                            
                            </tbody>
                        </table>
                    
                    <a href="javascript:viewSupportedTable()">View Supported Platform Table</a>
                    <div class="APISupportTable" id="APISupportTable">
                        <table class="apiTable">
                            <thead><tr><th>API</th><th>BB5.0</th><th>BB6.0</th><th>BB7.0</th><th>PB1.0</th><th>PB2.0</th><th>BB10</th><th>Ripple</th></tr></thead>
                            
                                
                                    <tr x-ww-support="bb5.0|bb6.0|bb7.0|ripple">
                                        <td>
                                            <a href="blackberry.invoke.MessageArguments.html">blackberry.invoke.MessageArguments</a>
                                            <td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td><td class="apiYes">Y</td>
                                        </td>
                                    </tr>
                                
                                    <tr x-ww-support="bb5.0|bb6.0|bb7.0|ripple">
                                        <td>
                                            <a href="blackberry.invoke.MessageArguments.html#.const2">blackberry.invoke.MessageArguments</a>
                                            <td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td><td class="apiYes">Y</td>
                                        </td>
                                    </tr>
                                
                                    <tr x-ww-support="bb5.0|bb6.0|bb7.0|ripple">
                                        <td>
                                            <a href="blackberry.invoke.MessageArguments.html#.const1">blackberry.invoke.MessageArguments</a>
                                            <td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td><td class="apiYes">Y</td>
                                        </td>
                                    </tr>
                                
                            
                            
                                <tr x-ww-support="bb5.0|bb6.0|bb7.0|ripple">
                                    <td>
                                        <a href="blackberry.invoke.MessageArguments.html#view">view</a>
                                        <td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td><td class="apiYes">Y</td>
                                    </td>
                                </tr>
                            
                                <tr x-ww-support="bb5.0|bb6.0|bb7.0|ripple">
                                    <td>
                                        <a href="blackberry.invoke.MessageArguments.html#.VIEW_NEW">VIEW_NEW</a>
                                        <td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td><td class="apiYes">Y</td>
                                    </td>
                                </tr>
                            
                                <tr x-ww-support="bb5.0|bb6.0|bb7.0|ripple">
                                    <td>
                                        <a href="blackberry.invoke.MessageArguments.html#.VIEW_DEFAULT">VIEW_DEFAULT</a>
                                        <td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td><td class="apiYes">Y</td>
                                    </td>
                                </tr>
                            
                                <tr x-ww-support="bb5.0|bb6.0|bb7.0|ripple">
                                    <td>
                                        <a href="blackberry.invoke.MessageArguments.html#.VIEW_SAVED">VIEW_SAVED</a>
                                        <td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td><td class="apiYes">Y</td>
                                    </td>
                                </tr>
                            
                                <tr x-ww-support="bb5.0|bb6.0|bb7.0|ripple">
                                    <td>
                                        <a href="blackberry.invoke.MessageArguments.html#.VIEW_SEARCH">VIEW_SEARCH</a>
                                        <td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td><td class="apiYes">Y</td>
                                    </td>
                                </tr>
                            
                        </table>
                    </div>
                </div>
            </div>
        


        <div class="ref-sect ref-index">
            <div class="ref-sect-title">
                <h2>Configuration Document Settings</h2>
            </div>
            <div class="ref-sect-content">
                <table><tbody>
                    <tr><td>
                        <p>To use <u>all</u> of the API described for this object, you must ensure the following settings are in your configuration document:</p>
                    </td></tr>
                    
                        <tr><td>
                            <p>You must declare the feature element(s) below in your configuration document:</p>
                        </td></tr></tbody></table>
                    <table>
                        <thead><tr><th>Feature ID</th><th>BB5.0</th><th>BB6.0</th><th>BB7.0</th><th>PB1.0</th><th>PB2.0</th><th>BB10</th><th>Ripple</th></tr></thead>
                        
                            
                            
                                
                            
                            <tr x-ww-support="bb5.0|bb6.0|bb7.0|ripple"><td>
                                &lt;feature id="blackberry.invoke" /&gt;
                                <td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td><td class="apiYes">Y</td>
                            </td></tr>
                        
                            
                            
                                
                            
                            <tr x-ww-support="bb5.0|bb6.0|bb7.0|ripple"><td>
                                &lt;feature id="blackberry.invoke.MessageArguments" /&gt;
                                <td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td><td class="apiYes">Y</td>
                            </td></tr>
                        
                            
                            
                                
                            
                            <tr x-ww-support="bb5.0|bb6.0|bb7.0|ripple"><td>
                                &lt;feature id="blackberry.message" /&gt;
                                <td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td><td class="apiYes">Y</td>
                            </td></tr>
                        
                    </table>
                

                <div x-ww-support="pb1.0|pb2.0">
                    
                    <table>
                        <tr>
                            <th>Permission Elements (PlayBook Only)</th>
                        </tr>
                        
                            <tr><td>
                                This API does not require a &lt;permission&gt; element to be declared in the configuration document of your BlackBerry WebWorks Application.
                            </td></tr>
                            <br />
                        
                    </table>
                </div>
            </div>
        </div>


        
        


<div>
    
        
        
            <br />
            <div class="ref-sect ref-index" x-ww-support="bb5.0|bb6.0|bb7.0|ripple">
                <div class="ref-sect-title">
                    <h2> Constructors </h2>
                </div>
                <div class="ref-sect-content">
                    
                        <table><tbody>
                            
                                <tr x-ww-support="bb5.0|bb6.0|bb7.0|ripple">
                                    <td class="first_column">
                                        
                                            
                                        
                                    </td>
                                    <td>
                                        <a href="blackberry.invoke.MessageArguments.html">blackberry.invoke.MessageArguments</a>
                                        
                                    </td>
                                </tr>
                            
                                <tr x-ww-support="bb5.0|bb6.0|bb7.0|ripple">
                                    <td class="first_column">
                                        
                                            
                                        
                                    </td>
                                    <td>
                                        <a href="blackberry.invoke.MessageArguments.html#.const2">blackberry.invoke.MessageArguments</a>
                                        
                                    </td>
                                </tr>
                            
                                <tr x-ww-support="bb5.0|bb6.0|bb7.0|ripple">
                                    <td class="first_column">
                                        
                                            
                                        
                                    </td>
                                    <td>
                                        <a href="blackberry.invoke.MessageArguments.html#.const1">blackberry.invoke.MessageArguments</a>
                                        
                                    </td>
                                </tr>
                            
                        </tbody></table>
                    
                    
                </div>
            </div>
        
    
        
        
    
        
        
    
        
        
            <br />
            <div class="ref-sect ref-index" x-ww-support="bb5.0|bb6.0|bb7.0|ripple">
                <div class="ref-sect-title">
                    <h2> Properties </h2>
                </div>
                <div class="ref-sect-content">
                    
                        <table><tbody>
                            
                                <tr x-ww-support="bb5.0|bb6.0|bb7.0|ripple">
                                    <td class="first_column">
                                        
                                            Number
                                        
                                    </td>
                                    <td>
                                        <a href="blackberry.invoke.MessageArguments.html#view">view</a>
                                        
                                    </td>
                                </tr>
                            
                        </tbody></table>
                    
                    
                </div>
            </div>
        
    
        
        
            <br />
            <div class="ref-sect ref-index" x-ww-support="bb5.0|bb6.0|bb7.0|ripple">
                <div class="ref-sect-title">
                    <h2> Constants </h2>
                </div>
                <div class="ref-sect-content">
                    
                        <table><tbody>
                            
                                <tr x-ww-support="bb5.0|bb6.0|bb7.0|ripple">
                                    <td class="first_column">
                                        
                                            Number
                                        
                                    </td>
                                    <td>
                                        <a href="blackberry.invoke.MessageArguments.html#.VIEW_NEW">VIEW_NEW</a>
                                        
                                    </td>
                                </tr>
                            
                                <tr x-ww-support="bb5.0|bb6.0|bb7.0|ripple">
                                    <td class="first_column">
                                        
                                            Number
                                        
                                    </td>
                                    <td>
                                        <a href="blackberry.invoke.MessageArguments.html#.VIEW_DEFAULT">VIEW_DEFAULT</a>
                                        
                                    </td>
                                </tr>
                            
                                <tr x-ww-support="bb5.0|bb6.0|bb7.0|ripple">
                                    <td class="first_column">
                                        
                                            Number
                                        
                                    </td>
                                    <td>
                                        <a href="blackberry.invoke.MessageArguments.html#.VIEW_SAVED">VIEW_SAVED</a>
                                        
                                    </td>
                                </tr>
                            
                                <tr x-ww-support="bb5.0|bb6.0|bb7.0|ripple">
                                    <td class="first_column">
                                        
                                            Number
                                        
                                    </td>
                                    <td>
                                        <a href="blackberry.invoke.MessageArguments.html#.VIEW_SEARCH">VIEW_SEARCH</a>
                                        
                                    </td>
                                </tr>
                            
                        </tbody></table>
                    
                    
                </div>
            </div>
        
    
        
        
    

    
</div>



        
        

    
    
        <div class="ref-sect">
            <div class="ref-sect-title clearfix">
                <h2>Constructors</h2>
            </div>
            <div class="ref-sect-content">
                
                    <div class="detailed_item function" x-ww-support="bb5.0|bb6.0|bb7.0|ripple">
                        <h3>
                            <a name=".MessageArguments"></a>
                 
                            
                            
                                
                                    blackberry.invoke.MessageArguments
                                    
                                        ()
                                    
                                
                            
                            <br />
                        </h3>
                        <div class="detailed description">
                            
                            
                    
                            
                                       
                            
                            
                            <p><div><p>      The MessageArguements object must be created as an instance using the new keyword.    </p></div></p>
                            <br />
                            
                            
                            
                                <table>              
                                    <thead><tr><th colspan="2">
                                        Supported Platforms
                                    </th></tr></thead>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- BlackBerry OS 5.0+
                                        </td></tr>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- Ripple Emulator
                                        </td></tr>
                                    
                                </table>              
                                               
                            <br />
                            
                            
                                               

                            
                            
                            

                            
                            
                            
                            
                            

                            
                            
                

    <br />
    <b>Code Example:</b>
    
        <table><tbody><td class="code"><code><pre>&lt;script type=&quot;text&sol;javascript&quot;&gt;     var args = new blackberry.invoke.MessageArguments(&apos;foo@domain.com&apos;, &apos;hello&apos;, &apos;world&apos;);  args.view = blackberry.invoke.MessageArguments.VIEW_NEW; &sol;&sol; New     blackberry.invoke.invoke(blackberry.invoke.APP_MESSAGES, args);  &sol;&sol; New Message&lt;&sol;script&gt;</pre></code></td></tbody></table>
    
  

                        </div>
                    </div>
                
                    <div class="detailed_item function" x-ww-support="bb5.0|bb6.0|bb7.0|ripple">
                        <h3>
                            <a name=".const2"></a>
                 
                            
                            
                                
                                    blackberry.invoke.MessageArguments
                                    
                                        (to : String, subject : String, body : String)
                                    
                                
                            
                            <br />
                        </h3>
                        <div class="detailed description">
                            
                            
                                
                                <br />
                            
                    
                            
                                       
                            
                            
                            <p>Build a MessageArguments object from string arguments</p>
                            <br />
                            
                            
                            
                                <table>              
                                    <thead><tr><th colspan="2">
                                        Supported Platforms
                                    </th></tr></thead>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- BlackBerry OS 5.0+
                                        </td></tr>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- Ripple Emulator
                                        </td></tr>
                                    
                                </table>              
                                               
                            <br />
                            
                            
                            
                                <br />
                                <table>
                                    <thead><tr><th colspan="2">
                                        Parameters
                                    </th></tr></thead>
                                                   
                                    
                                        
                                        <tr>
                                            <td><b>to</b></td>
                                            <td>
                                                
                                                The recipient's email address                         
                                                
                                            </td>
                                        </tr>
                                    
                                        
                                        <tr>
                                            <td><b>subject</b></td>
                                            <td>
                                                
                                                The message's subject line                         
                                                
                                            </td>
                                        </tr>
                                    
                                        
                                        <tr>
                                            <td><b>body</b></td>
                                            <td>
                                                
                                                The contents of the message                         
                                                
                                            </td>
                                        </tr>
                                                  
                                </table>
                                               

                            
                            
                            

                            
                            
                            
                            
                            

                            
                            
                
  

                        </div>
                    </div>
                
                    <div class="detailed_item function" x-ww-support="bb5.0|bb6.0|bb7.0|ripple">
                        <h3>
                            <a name=".const1"></a>
                 
                            
                            
                                
                                    blackberry.invoke.MessageArguments
                                    
                                        (message : <a href="blackberry.message.Message.html">blackberry.message.Message</a>)
                                    
                                
                            
                            <br />
                        </h3>
                        <div class="detailed description">
                            
                            
                                
                                <br />
                            
                    
                            
                                       
                            
                            
                            <p>Build a MessageArguments object from a {blackberry.message.Message} object</p>
                            <br />
                            
                            
                            
                                <table>              
                                    <thead><tr><th colspan="2">
                                        Supported Platforms
                                    </th></tr></thead>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- BlackBerry OS 5.0+
                                        </td></tr>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- Ripple Emulator
                                        </td></tr>
                                    
                                </table>              
                                               
                            <br />
                            
                            
                            
                                <br />
                                <table>
                                    <thead><tr><th colspan="2">
                                        Parameters
                                    </th></tr></thead>
                                                   
                                    
                                        
                                        <tr>
                                            <td><b>message</b></td>
                                            <td>
                                                
                                                The Message object used to construct the MessageArguments                         
                                                
                                            </td>
                                        </tr>
                                                  
                                </table>
                                               

                            
                            
                            

                            
                            
                            
                            
                            

                            
                            
                
  

                        </div>
                    </div>
                
            </div>
        </div>
    

    
    

    
    

    
    
        <div class="ref-sect">
            <div class="ref-sect-title clearfix">
                <h2>Properties</h2>
            </div>
            <div class="ref-sect-content">
                
                    <div class="detailed_item function" x-ww-support="bb5.0|bb6.0|bb7.0|ripple">
                        <h3>
                            <a name="view"></a>
                 
                            
                            
                                
                                    
                                                      
                                        
                                        Number
                                        
                                        
                                            view
                                            
                                                                  
                                    
                                
                            
                            <br />
                        </h3>
                        <div class="detailed description">
                            
                            
                                
                                <br />
                            
                    
                            
                                       
                            
                            
                            <p>Value that specifies what kind of view you want to view in Messages application. If MessageArguments object is created with a Message object or &apos;to&apos;,&apos;subject&apos;,&apos;body&apos; values, the view is &apos;VIEW_NEW&apos; regardless if any other value is assigned.</p>
                            <br />
                            
                            
                            
                                <table>              
                                    <thead><tr><th colspan="2">
                                        Supported Platforms
                                    </th></tr></thead>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- BlackBerry OS 5.0+
                                        </td></tr>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- Ripple Emulator
                                        </td></tr>
                                    
                                </table>              
                                               
                            <br />
                            
                            
                                               

                            
                            
                            

                            
                            
                            
                            
                            

                            
                            
                
  

                        </div>
                    </div>
                
            </div>
        </div>
    

    
    
        <div class="ref-sect">
            <div class="ref-sect-title clearfix">
                <h2>Constants</h2>
            </div>
            <div class="ref-sect-content">
                
                    <div class="detailed_item function" x-ww-support="bb5.0|bb6.0|bb7.0|ripple">
                        <h3>
                            <a name=".VIEW_NEW"></a>
                 
                            
                            
                                
                                    
                                        static              
                                        
                                        Number
                                        
                                        
                                            VIEW_NEW
                                            
                                                
                                                    
                                                
                                            
                                                                  
                                    
                                
                            
                            <br />
                        </h3>
                        <div class="detailed description">
                            
                            
                                
                                <br />
                            
                    
                            
                                       
                            
                            
                            <p>New&sol;Compose View</p>
                            <br />
                            
                            
                            
                                <table>              
                                    <thead><tr><th colspan="2">
                                        Supported Platforms
                                    </th></tr></thead>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- BlackBerry OS 5.0+
                                        </td></tr>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- Ripple Emulator
                                        </td></tr>
                                    
                                </table>              
                                               
                            <br />
                            
                            
                                               

                            
                            
                            

                            
                            
                            
                            
                            

                            
                            
                
  

                        </div>
                    </div>
                
                    <div class="detailed_item function" x-ww-support="bb5.0|bb6.0|bb7.0|ripple">
                        <h3>
                            <a name=".VIEW_DEFAULT"></a>
                 
                            
                            
                                
                                    
                                        static              
                                        
                                        Number
                                        
                                        
                                            VIEW_DEFAULT
                                            
                                                
                                                    
                                                
                                            
                                                                  
                                    
                                
                            
                            <br />
                        </h3>
                        <div class="detailed description">
                            
                            
                                
                                <br />
                            
                    
                            
                                       
                            
                            
                            <p>Opens up the Inbox</p>
                            <br />
                            
                            
                            
                                <table>              
                                    <thead><tr><th colspan="2">
                                        Supported Platforms
                                    </th></tr></thead>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- BlackBerry OS 5.0+
                                        </td></tr>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- Ripple Emulator
                                        </td></tr>
                                    
                                </table>              
                                               
                            <br />
                            
                            
                                               

                            
                            
                            

                            
                            
                            
                            
                            

                            
                            
                
  

                        </div>
                    </div>
                
                    <div class="detailed_item function" x-ww-support="bb5.0|bb6.0|bb7.0|ripple">
                        <h3>
                            <a name=".VIEW_SAVED"></a>
                 
                            
                            
                                
                                    
                                        static              
                                        
                                        Number
                                        
                                        
                                            VIEW_SAVED
                                            
                                                
                                                    
                                                
                                            
                                                                  
                                    
                                
                            
                            <br />
                        </h3>
                        <div class="detailed description">
                            
                            
                                
                                <br />
                            
                    
                            
                                       
                            
                            
                            <p>Saved Messages View</p>
                            <br />
                            
                            
                            
                                <table>              
                                    <thead><tr><th colspan="2">
                                        Supported Platforms
                                    </th></tr></thead>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- BlackBerry OS 5.0+
                                        </td></tr>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- Ripple Emulator
                                        </td></tr>
                                    
                                </table>              
                                               
                            <br />
                            
                            
                                               

                            
                            
                            

                            
                            
                            
                            
                            

                            
                            
                
  

                        </div>
                    </div>
                
                    <div class="detailed_item function" x-ww-support="bb5.0|bb6.0|bb7.0|ripple">
                        <h3>
                            <a name=".VIEW_SEARCH"></a>
                 
                            
                            
                                
                                    
                                        static              
                                        
                                        Number
                                        
                                        
                                            VIEW_SEARCH
                                            
                                                
                                                    
                                                
                                            
                                                                  
                                    
                                
                            
                            <br />
                        </h3>
                        <div class="detailed description">
                            
                            
                                
                                <br />
                            
                    
                            
                                       
                            
                            
                            <p>Search View</p>
                            <br />
                            
                            
                            
                                <table>              
                                    <thead><tr><th colspan="2">
                                        Supported Platforms
                                    </th></tr></thead>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- BlackBerry OS 5.0+
                                        </td></tr>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- Ripple Emulator
                                        </td></tr>
                                    
                                </table>              
                                               
                            <br />
                            
                            
                                               

                            
                            
                            

                            
                            
                            
                            
                            

                            
                            
                
  

                        </div>
                    </div>
                
            </div>
        </div>
    

    
    





        <div >
            
            Documentation generated by <a href="http://code.google.com/p/jsdoc-toolkit/" target="_blank">JsDoc Toolkit</a> 2.4.0 on Mon Aug 27 2012 12:06:54 GMT-0400 (EDT)
        </div>

    </div>
</section>

                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

</div>


<script type="text/javascript" src="https://bdsc.webapps.blackberry.com/html5/webroot/js/pageend.min.js"></script>
<script type="text/javascript" src="https://bdsc.webapps.blackberry.com/html5/webroot/js/jquery.carouFredSel-4.4.1-packed.js"></script>
<script type="text/javascript" src="https://client.akamai.com/dlm/dlm.js"></js>
<script> 
    global.init('/html5/', 'apis', 'index', '', '/html5/webroot/');
</script>
<script>
	var menu, menu_id_str, selected, siblings;
	menu = null;
	menu_id_str = $('.side-nav-content').attr('id');
	if (menu_id_str !== 'none') {
		menu = menu_id_str;
	}
	$(document).ready(function () {
		stage.initiate();
		sticky.initiate();
		sizer.initiate(); /* Initiates resizing of menu on pages where it is relevant */

		selected = $('.no_children.item_active').first();
		selected.siblings().addClass('active_sibling');
		$("#main a").each(function () {
			$(this).bind('click', function () {
				sticky.scrollEvent();
			});
		});
		
	});
	$(window).load(function () {
		var container, scrollTo;
		renderMenu(window.location.pathname, menu);
		reset_size_and_scroll();
		$(function () {
			container = $('#side-nav-children');
			scrollTo = $('.active', container);
			if (scrollTo.length > 0) {
				container.scrollTop(scrollTo.offset().top - container.offset().top + container.scrollTop() - 80);
			}
		});
	});

	$(window).resize(function (e) {
		if (e) { e.stopPropagation(); }
		reset_size_and_scroll();
	});
	$(window).scroll(function (e) {
		if (e) { e.stopPropagation(); }
		reset_size_and_scroll();
	});
</script>
<script type="text/javascript" src="https://bdsc.webapps.blackberry.com/html5/webroot/js/pageload.min.js"></script>
<script type="text/javascript" src="nav.js"></script>



</body>
</html>

