

<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>
        classes - BlackBerry WebWorks
    </title>

    <script type="text/javascript" src="https://bdsc.webapps.blackberry.com/html5/webroot/js/pagehead.min.js"></script>
    <link href="https://bdsc.webapps.blackberry.com/html5/webroot/css/main.min.css" type="text/css" rel="stylesheet" />
</head>

<body>
<div class="site_container clearfix guide-container">
    

<section  class="page_container references">
	<div class="row">
        <nav class="column grid_4 side-navigation" id="side-nav-api" role="navigation">
            <div id="sticky-anchor"> </div>
            <div class="side-nav-wrapper" id="sticky">
                <div class="side-nav-content clearfix" id="class_menu">
                    <div class="side-nav-section clearfix" id="side-nav-title">
                        <h3>API Reference</h3>
                    </div>
                    <div class="side-nav-section loading clearfix" id="side-nav-parents"> 
                    </div>
                    <div class="side-nav-section clearfix" id="side-nav-filter"> 
                    </div>
                    <div class="side-nav-section loading clearfix" id="side-nav-children"> 
                    </div>
                </div>
            </div>
            <div class="side-navspacer-bottom"> </div>
        </nav>

        <div class="column grid_8">
                <div class="row">
                    <article id="main" class="column grid_8" role="main">
                        

    
        
        
        <h2> A </h2>
        <ul>
        <li> <a href="blackberry.pim.Address.html">Address</a> </li>
    

    
        <li> <a href="blackberry.invoke.AddressBookArguments.html">AddressBookArguments</a> </li>
    

    
        <li> <a href="blackberry.app.html">Application</a> </li>
    

    
        <li> <a href="blackberry.app.event.html">Application Event</a> </li>
    

    
        <li> <a href="blackberry.pim.Appointment.html">Appointment</a> </li>
    

    
        <li> <a href="blackberry.pim.Attendee.html">Attendee</a> </li>
    

    
        <li> <a href="blackberry.audio.html">Audio</a> </li>
    

    
        <li> <a href="blackberry.audio.Player.html">Audio Player</a> </li>
    

    
        
            </ul>
        
        
        <h2> B </h2>
        <ul>
        <li> <a href="blackberry.advertising.Banner.html">Banner</a> </li>
    

    
        <li> <a href="blackberry.bbm.platform.html">BBM Platform</a> </li>
    

    
        <li> <a href="blackberry.bbm.platform.io.Channel.html">blackberry.bbm.platform.io.Channel</a> </li>
    

    
        <li> <a href="blackberry.bbm.platform.io.Connection.html">blackberry.bbm.platform.io.Connection</a> </li>
    

    
        <li> <a href="blackberry.bbm.platform.io.IncomingJoinRequest.html">blackberry.bbm.platform.io.IncomingJoinRequest</a> </li>
    

    
        <li> <a href="blackberry.bbm.platform.io.JoinRequest.html">blackberry.bbm.platform.io.JoinRequest</a> </li>
    

    
        <li> <a href="blackberry.bbm.platform.io.OutgoingJoinRequest.html">blackberry.bbm.platform.io.OutgoingJoinRequest</a> </li>
    

    
        <li> <a href="blackberry.bbm.platform.io.Session.html">blackberry.bbm.platform.io.Session</a> </li>
    

    
        <li> <a href="blackberry.bbm.platform.self.location.html">blackberry.bbm.platform.self.location</a> </li>
    

    
        <li> <a href="blackberry.bbm.platform.self.profilebox.ProfileBoxItem.html">blackberry.bbm.platform.self.profilebox.ProfileBoxItem</a> </li>
    

    
        <li> <a href="blackberry.bbm.platform.users.BBMPlatformUser.html">blackberry.bbm.platform.users.BBMPlatformUser</a> </li>
    

    
        <li> <a href="blackberry.invoke.BrowserArguments.html">BrowserArguments</a> </li>
    

    
        
            </ul>
        
        
        <h2> C </h2>
        <ul>
        <li> <a href="blackberry.widgetcache.CacheInformation.html">CacheInformation</a> </li>
    

    
        <li> <a href="blackberry.invoke.CalendarArguments.html">CalendarArguments</a> </li>
    

    
        <li> <a href="blackberry.phone.Phone.Call.html">Call</a> </li>
    

    
        <li> <a href="blackberry.phone.PhoneLogs.CallLog.html">CallLog</a> </li>
    

    
        <li> <a href="blackberry.media.camera.html">Camera</a> </li>
    

    
        <li> <a href="blackberry.invoke.CameraArguments.html">CameraArguments</a> </li>
    

    
        <li> <a href="CanvasGradient.html">CanvasGradient</a> </li>
    

    
        <li> <a href="CanvasPattern.html">CanvasPattern</a> </li>
    

    
        <li> <a href="CanvasPixelArray.html">CanvasPixelArray</a> </li>
    

    
        <li> <a href="blackberry.pim.category.html">Category</a> </li>
    

    
        <li> <a href="blackberry.connection.html">Connection</a> </li>
    

    
        <li> <a href="blackberry.bbm.platform.io.html">Connections</a> </li>
    

    
        <li> <a href="blackberry.pim.Contact.html">Contact</a> </li>
    

    
        <li> <a href="blackberry.bbm.platform.self.html">Current User</a> </li>
    

    
        
            </ul>
        
        
        <h2> D </h2>
        <ul>
        <li> <a href="blackberry.push.Data.html">Data</a> </li>
    

    
        <li> <a href="blackberry.ui.dialog.html">Dialog</a> </li>
    

    
        <li> <a href="blackberry.io.dir.html">Directory</a> </li>
    

    
        <li> <a href="DirectoryEntry%23createReader.html">DirectoryEntry#createReader</a> </li>
    

    
        
            </ul>
        
        
        <h2> E </h2>
        <ul>
        <li> <a href="blackberry.event.html">Event</a> </li>
    

    
        
            </ul>
        
        
        <h2> F </h2>
        <ul>
        <li> <a href="blackberry.io.file.html">File</a> </li>
    

    
        <li> <a href="blackberry.io.file.FileProperties.html">FileProperties</a> </li>
    

    
        <li> <a href="blackberry.io.filetransfer.html">FileTransfer</a> </li>
    

    
        <li> <a href="blackberry.find.FilterExpression.html">FilterExpression</a> </li>
    

    
        <li> <a href="blackberry.phone.Find.FilterExpression.html">Find FilterExpression</a> </li>
    

    
        <li> <a href="blackberry.focus.html">Focus</a> </li>
    

    
        
            </ul>
        
        
        <h2> H </h2>
        <ul>
        <li> <a href="CanvasRenderingContext2D.html">HTML5 2D Canvas Context</a> </li>
    

    
        <li> <a href="Acceleration.html">HTML5 Acceleration</a> </li>
    

    
        <li> <a href="ApplicationCache.html">HTML5 ApplicationCache</a> </li>
    

    
        <li> <a href="HTMLAudioElement.html">HTML5 Audio</a> </li>
    

    
        <li> <a href="canvas.html">HTML5 Canvas</a> </li>
    

    
        <li> <a href="Coordinates.html">HTML5 Coordinates</a> </li>
    

    
        <li> <a href="Database.html">HTML5 Database</a> </li>
    

    
        <li> <a href="DeviceMotionEvent.html">HTML5 Device Motion Event</a> </li>
    

    
        <li> <a href="DirectoryEntry.html">HTML5 DirectoryEntry</a> </li>
    

    
        <li> <a href="DirectoryReader.html">HTML5 DirectoryReader</a> </li>
    

    
        <li> <a href="Element.html">HTML5 Element Touch Events</a> </li>
    

    
        <li> <a href="File.html">HTML5 File</a> </li>
    

    
        <li> <a href="fileEntry.html">HTML5 FileEntry</a> </li>
    

    
        <li> <a href="FileError.html">HTML5 FileError</a> </li>
    

    
        <li> <a href="FileReader.html">HTML5 FileReader</a> </li>
    

    
        <li> <a href="FileSystem.html">HTML5 FileSystem</a> </li>
    

    
        <li> <a href="FileWriter.html">HTML5 FileWriter</a> </li>
    

    
        <li> <a href="Flags.html">HTML5 Flags</a> </li>
    

    
        <li> <a href="navigator.geolocation.html">HTML5 Geolocation</a> </li>
    

    
        <li> <a href="localStorage.html">HTML5 Local Storage</a> </li>
    

    
        <li> <a href="LocalFileSystem.html">HTML5 LocalFileSystem</a> </li>
    

    
        <li> <a href="Metadata.html">HTML5 Metadata</a> </li>
    

    
        <li> <a href="navigator.html">HTML5 Navigator</a> </li>
    

    
        <li> <a href="Position.html">HTML5 Position</a> </li>
    

    
        <li> <a href="PositionError.html">HTML5 PositionError</a> </li>
    

    
        <li> <a href="PositionOptions.html">HTML5 PositionOptions</a> </li>
    

    
        <li> <a href="SQLError.html">HTML5 SQLError</a> </li>
    

    
        <li> <a href="SQLResultSet.html">HTML5 SQLResultSet</a> </li>
    

    
        <li> <a href="SQLResultSetRowList.html">HTML5 SQLResultSetRowList</a> </li>
    

    
        <li> <a href="SQLTransaction.html">HTML5 SQLTransaction</a> </li>
    

    
        <li> <a href="TouchEvent.html">HTML5 Touch Event</a> </li>
    

    
        <li> <a href="HTMLVideoElement.html">HTML5 Video</a> </li>
    

    
        <li> <a href="Worker.html">HTML5 Web Workers</a> </li>
    

    
        <li> <a href="WebGLRenderingContext.html">HTML5 WebGL Canvas Context</a> </li>
    

    
        <li> <a href="HTMLMediaElement.html">HTMLMediaElement</a> </li>
    

    
        <li> <a href="HTMLSourceElement.html">HTMLSourceElement</a> </li>
    

    
        <li> <a href="HTMLTrackElement.html">HTMLTrackElement</a> </li>
    

    
        
            </ul>
        
        
        <h2> I </h2>
        <ul>
        <li> <a href="blackberry.identity.html">Identity</a> </li>
    

    
        <li> <a href="ImageData.html">ImageData</a> </li>
    

    
        <li> <a href="blackberry.invoke.html">Invoke</a> </li>
    

    
        <li> <a href="blackberry.invoked.html">Invoked</a> </li>
    

    
        <li> <a href="blackberry.io.html">IO</a> </li>
    

    
        
            </ul>
        
        
        <h2> J </h2>
        <ul>
        <li> <a href="blackberry.invoke.JavaArguments.html">JavaArguments</a> </li>
    

    
        
            </ul>
        
        
        <h2> M </h2>
        <ul>
        <li> <a href="blackberry.invoke.MapsArguments.html">MapsArguments</a> </li>
    

    
        <li> <a href="MediaError.html">MediaError</a> </li>
    

    
        <li> <a href="blackberry.pim.Memo.html">Memo</a> </li>
    

    
        <li> <a href="blackberry.invoke.MemoArguments.html">MemoArguments</a> </li>
    

    
        <li> <a href="blackberry.ui.menu.html">Menu</a> </li>
    

    
        <li> <a href="blackberry.ui.menu.MenuItem.html">MenuItem</a> </li>
    

    
        <li> <a href="blackberry.message.Message.html">Message</a> </li>
    

    
        <li> <a href="blackberry.invoke.MessageArguments.html">MessageArguments</a> </li>
    

    
        <li> <a href="blackberry.media.microphone.html">Microphone</a> </li>
    

    
        <li> <a href="MutableTextTrack.html">MutableTextTrack</a> </li>
    

    
        
            </ul>
        
        
        <h2> N </h2>
        <ul>
        <li> <a href="blackberry.html">Network</a> </li>
    

    
        
            </ul>
        
        
        <h2> O </h2>
        <ul>
        <li> <a href="blackberry.bbm.platform.users.html">Other Users</a> </li>
    

    
        
            </ul>
        
        
        <h2> P </h2>
        <ul>
        <li> <a href="blackberry.payment.html">Payment</a> </li>
    

    
        <li> <a href="blackberry.identity.phone.html">Phone</a> </li>
    

    
        <li> <a href="blackberry.phone.Phone.html">Phone</a> </li>
    

    
        <li> <a href="blackberry.invoke.PhoneArguments.html">PhoneArguments</a> </li>
    

    
        <li> <a href="blackberry.phone.PhoneLogs.html">PhoneLogs</a> </li>
    

    
        <li> <a href="blackberry.bbm.platform.self.profilebox.html">Profile Box</a> </li>
    

    
        <li> <a href="Purchase.html">Purchase</a> </li>
    

    
        <li> <a href="blackberry.push.html">Push</a> </li>
    

    
        <li> <a href="blackberry.push.PushPayload.html">PushPayload</a> </li>
    

    
        <li> <a href="blackberry.push.PushService.html">PushService</a> </li>
    

    
        
            </ul>
        
        
        <h2> Q </h2>
        <ul>
        <li> <a href="QueryResponse.html">Query Response</a> </li>
    

    
        <li> <a href="QueryResponseTarget.html">Query Response Target</a> </li>
    

    
        
            </ul>
        
        
        <h2> R </h2>
        <ul>
        <li> <a href="blackberry.pim.Recurrence.html">Recurrence</a> </li>
    

    
        <li> <a href="blackberry.pim.Reminder.html">Reminder</a> </li>
    

    
        
            </ul>
        
        
        <h2> S </h2>
        <ul>
        <li> <a href="blackberry.invoke.SearchArguments.html">SearchArguments</a> </li>
    

    
        <li> <a href="blackberry.identity.Service.html">Service</a> </li>
    

    
        <li> <a href="blackberry.bbm.platform.settings.html">Settings</a> </li>
    

    
        <li> <a href="blackberry.message.sms.html">SMS</a> </li>
    

    
        <li> <a href="blackberry.system.html">System</a> </li>
    

    
        <li> <a href="blackberry.system.event.html">System Event</a> </li>
    

    
        
            </ul>
        
        
        <h2> T </h2>
        <ul>
        <li> <a href="blackberry.pim.Task.html">Task</a> </li>
    

    
        <li> <a href="blackberry.invoke.TaskArguments.html">TaskArguments</a> </li>
    

    
        <li> <a href="TextMetrics.html">TextMetrics</a> </li>
    

    
        <li> <a href="TextTrack.html">TextTrack</a> </li>
    

    
        <li> <a href="TextTrackCue.html">TextTrackCue</a> </li>
    

    
        <li> <a href="TextTrackCueList.html">TextTrackCueList</a> </li>
    

    
        <li> <a href="TimeRanges.html">TimeRanges</a> </li>
    

    
        <li> <a href="Touch.html">Touch</a> </li>
    

    
        <li> <a href="TouchList.html">TouchList</a> </li>
    

    
        <li> <a href="blackberry.identity.Transport.html">Transport</a> </li>
    

    
        
            </ul>
        
        
        <h2> U </h2>
        <ul>
        <li> <a href="blackberry.utils.URL.html">URL</a> </li>
    

    
        <li> <a href="blackberry.utils.html">Utils</a> </li>
    

    
        
            </ul>
        
        
        <h2> W </h2>
        <ul>
        <li> <a href="WebGLActiveInfo.html">WebGLActiveInfo</a> </li>
    

    
        <li> <a href="WebGLBuffer.html">WebGLBuffer</a> </li>
    

    
        <li> <a href="WebGLContextAttributes.html">WebGLContextAttributes</a> </li>
    

    
        <li> <a href="WebGLContextEvent.html">WebGLContextEvent</a> </li>
    

    
        <li> <a href="WebGLFramebuffer.html">WebGLFramebuffer</a> </li>
    

    
        <li> <a href="WebGLObject.html">WebGLObject</a> </li>
    

    
        <li> <a href="WebGLProgram.html">WebGLProgram</a> </li>
    

    
        <li> <a href="WebGLRenderbuffer.html">WebGLRenderbuffer</a> </li>
    

    
        <li> <a href="WebGLShader.html">WebGLShader</a> </li>
    

    
        <li> <a href="WebGLTexture.html">WebGLTexture</a> </li>
    

    
        <li> <a href="WebGLUniformLocation.html">WebGLUniformLocation</a> </li>
    

    
        <li> <a href="blackberry.widgetcache.html">WidgetCache</a> </li>
    


        </ul>


                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

</div>


<script type="text/javascript" src="https://bdsc.webapps.blackberry.com/html5/webroot/js/pageend.min.js"></script>
<script type="text/javascript" src="https://bdsc.webapps.blackberry.com/html5/webroot/js/jquery.carouFredSel-4.4.1-packed.js"></script>
<script type="text/javascript" src="https://client.akamai.com/dlm/dlm.js"></js>
<script> 
    global.init('/html5/', 'apis', 'index', '', '/html5/webroot/');
</script>
<script>
	var menu, menu_id_str, selected, siblings;
	menu = null;
	menu_id_str = $('.side-nav-content').attr('id');
	if (menu_id_str !== 'none') {
		menu = menu_id_str;
	}
	$(document).ready(function () {
		stage.initiate();
		sticky.initiate();
		sizer.initiate(); /* Initiates resizing of menu on pages where it is relevant */

		selected = $('.no_children.item_active').first();
		selected.siblings().addClass('active_sibling');
		$("#main a").each(function () {
			$(this).bind('click', function () {
				sticky.scrollEvent();
			});
		});
		
	});
	$(window).load(function () {
		var container, scrollTo;
		renderMenu(window.location.pathname, menu);
		reset_size_and_scroll();
		$(function () {
			container = $('#side-nav-children');
			scrollTo = $('.active', container);
			if (scrollTo.length > 0) {
				container.scrollTop(scrollTo.offset().top - container.offset().top + container.scrollTop() - 80);
			}
		});
	});

	$(window).resize(function (e) {
		if (e) { e.stopPropagation(); }
		reset_size_and_scroll();
	});
	$(window).scroll(function (e) {
		if (e) { e.stopPropagation(); }
		reset_size_and_scroll();
	});
</script>
<script type="text/javascript" src="https://bdsc.webapps.blackberry.com/html5/webroot/js/pageload.min.js"></script>
<script type="text/javascript" src="nav.js"></script>



</body>
</html>

