

<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>
        Current User - BlackBerry WebWorks
    </title>

    <script type="text/javascript" src="https://bdsc.webapps.blackberry.com/html5/webroot/js/pagehead.min.js"></script>
    <link href="https://bdsc.webapps.blackberry.com/html5/webroot/css/main.min.css" type="text/css" rel="stylesheet" />
</head>

<body>
<div class="site_container clearfix guide-container">
    

<section  class="page_container references">
	<div class="row">
        <nav class="column grid_4 side-navigation" id="side-nav-api" role="navigation">
            <div id="sticky-anchor"> </div>
            <div class="side-nav-wrapper" id="sticky">
                <div class="side-nav-content clearfix" id="none">
                    <div class="side-nav-section clearfix" id="side-nav-title">
                        <h3>API Reference</h3>
                    </div>
                    <div class="side-nav-section loading clearfix" id="side-nav-parents"> 
                    </div>
                    <div class="side-nav-section clearfix" id="side-nav-filter"> 
                    </div>
                    <div class="side-nav-section loading clearfix" id="side-nav-children"> 
                    </div>
                </div>
            </div>
            <div class="side-navspacer-bottom"> </div>
        </nav>

        <div class="column grid_8">
                <div class="row">
                    <article id="main" class="column grid_8" role="main">
                        

<section>

    <script type="text/javascript">
        (function() {
            function getDesiredElements(element, attributeName) {
                var results = new Array();
                if (element.hasAttribute(attributeName))
                    results.push(element);

                //Check child nodes
                for (var i = 0; i < element.childNodes.length; i++) {
                    var child = element.childNodes[i];
                    if (child.nodeType == 1) {
                        results = results.concat(getDesiredElements(child, attributeName));
                    }
                }
                return results;
            }

            function runFilter() {
                var filter = localStorage.getItem('selectedmenu');
                var elements = getDesiredElements(document.body, 'x-ww-support');
                for (var i = 0; i < elements.length; i++) {
                    var target = elements[i];
                    var x_ww_support = target.getAttribute('x-ww-support').split('|');
                    if (x_ww_support.indexOf(filter) < 0) {
                        target.style.display = 'none';
                    }
                }
            }
            
            if(window.attachEvent) {
                window.attachEvent('onload', runFilter);
            } else {
                if(window.onload) {
                    var curronload = window.onload;
                    var newonload = function() {
                        curronload();
                        runFilter();
                    };
                    window.onload = newonload;
                } else {
                    window.onload = runFilter;
                }
            }
        })();
    </script>

    <script type="text/javascript">

        function viewSupportedTable() {
            var table = document.getElementById('APISupportTable');
            if (table != null && table.style.display != 'inline') {
                table.style.display = 'inline';
            }
            else {
                table.style.display = 'none';
            }
        }

    </script>
    
    <style type="text/css">

        .apiYes {
            background-color: #D1F8FB;
        }
        
        .tdNoWrap {
            white-space:nowrap;
        }
        
        .APISupportTable {
            display:none;
        }
    </style>

    <div>


        <h1>
            
                Current User
            
        </h1>


        
            <p>
                Provides access to the current user's information.


                
                    <div x-ww-support="bb_menu">
                    
                
  

                    </div>
                
            </p>
        


        
            
            <br />
        


        


        


        
            <div class="ref-sect ref-index">
                <div class="ref-sect-title">
                    <h2>Supported Platform(s)</h2>
                </div>
                <div class="ref-sect-content">
                    
                        <table>
                            <tbody>
                            
                                <tr><td>- BlackBerry OS 5.0+</td></tr>
                            
                            </tbody>
                        </table>
                    
                    <a href="javascript:viewSupportedTable()">View Supported Platform Table</a>
                    <div class="APISupportTable" id="APISupportTable">
                        <table class="apiTable">
                            <thead><tr><th>API</th><th>BB5.0</th><th>BB6.0</th><th>BB7.0</th><th>PB1.0</th><th>PB2.0</th><th>BB10</th><th>Ripple</th></tr></thead>
                            
                            
                                <tr x-ww-support="bb_menu">
                                    <a href="blackberry.bbm.platform.self.html#.setDisplayPicture">blackberry.bbm.platform.self.setDisplayPicture</a>
                                    <td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td><td class="apiNo">&nbsp;</td>
                                </tr>
                            
                                <tr x-ww-support="bb_menu">
                                    <a href="blackberry.bbm.platform.self.html#.setPersonalMessage">blackberry.bbm.platform.self.setPersonalMessage</a>
                                    <td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td><td class="apiNo">&nbsp;</td>
                                </tr>
                            
                                <tr x-ww-support="bb_menu">
                                    <a href="blackberry.bbm.platform.self.html#.setStatus">blackberry.bbm.platform.self.setStatus</a>
                                    <td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td><td class="apiNo">&nbsp;</td>
                                </tr>
                            
                        </table>
                    </div>
                </div>
            </div>
        


        <div class="ref-sect ref-index">
            <div class="ref-sect-title">
                <h2>Configuration Document Settings</h2>
            </div>
            <div class="ref-sect-content">
                <table><tbody>
                    <tr><td>
                        <p>To use <u>all</u> of the API described for this object, you must ensure the following settings are in your configuration document:</p>
                    </td></tr>
                    
                        <tr><td>
                            <p>You must declare the feature element(s) below in your configuration document:</p>
                        </td></tr></tbody></table>
                    <table>
                        <thead><tr><th>Feature ID</th><th>BB5.0</th><th>BB6.0</th><th>BB7.0</th><th>PB1.0</th><th>PB2.0</th><th>BB10</th><th>Ripple</th></tr></thead>
                        
                            
                            
                                
                            
                            <tr x-ww-support="bb_menu"><td>
                                &lt;feature id="blackberry.bbm.platform" /&gt;
                                <td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td><td class="apiNo">&nbsp;</td>
                            </td></tr>
                        
                    </table>
                

                <div x-ww-support="pb_menu">
                    
                    <table>
                        <tr>
                            <th>Permission Elements (PlayBook Only)</th>
                        </tr>
                        
                            <tr><td>
                                This API does not require a &lt;permission&gt; element to be declared in the configuration document of your BlackBerry WebWorks Application.
                            </td></tr>
                            <br />
                        
                    </table>
                </div>
            </div>
        </div>


        
        


<div>
    
        
        
    
        
        
            <br />
            <div class="ref-sect ref-index" x-ww-support="bb_menu">
                <div class="ref-sect-title">
                    <h2> Functions </h2>
                </div>
                <div class="ref-sect-content">
                    
                        <table><tbody>
                            
                                <tr x-ww-support="bb_menu">
                                    <td class="first_column">
                                        
                                            void
                                        
                                    </td>
                                    <td>
                                        <a href="blackberry.bbm.platform.self.html#.setDisplayPicture">blackberry.bbm.platform.self.setDisplayPicture</a>
                                        
                                    </td>
                                </tr>
                            
                                <tr x-ww-support="bb_menu">
                                    <td class="first_column">
                                        
                                            void
                                        
                                    </td>
                                    <td>
                                        <a href="blackberry.bbm.platform.self.html#.setPersonalMessage">blackberry.bbm.platform.self.setPersonalMessage</a>
                                        
                                    </td>
                                </tr>
                            
                                <tr x-ww-support="bb_menu">
                                    <td class="first_column">
                                        
                                            void
                                        
                                    </td>
                                    <td>
                                        <a href="blackberry.bbm.platform.self.html#.setStatus">blackberry.bbm.platform.self.setStatus</a>
                                        
                                    </td>
                                </tr>
                            
                        </tbody></table>
                    
                    
                </div>
            </div>
        
    
        
        
    
        
        
            <br />
            <div class="ref-sect ref-index" x-ww-support="bb_menu">
                <div class="ref-sect-title">
                    <h2> Properties </h2>
                </div>
                <div class="ref-sect-content">
                    
                    
                        <table><tbody><tr><td><dl class="inheritsList">
                            
                                <dt> Properties inherited from class <a href="blackberry.bbm.platform.users.BBMPlatformUser.html">blackberry.bbm.platform.users.BBMPlatformUser</a>:  </dt>
                                <dd>
                                    
                                    
                                        <span x-ww-support="bb_menu">
                                            <a href="blackberry.bbm.platform.users.BBMPlatformUser.html#appVersion">appVersion</a>
                                        </span>
                                    
                                        <span x-ww-support="bb_menu">
                                            <a href="blackberry.bbm.platform.users.BBMPlatformUser.html#bbmsdkVersion">bbmsdkVersion</a>
                                        </span>
                                    
                                        <span x-ww-support="bb_menu">
                                            <a href="blackberry.bbm.platform.users.BBMPlatformUser.html#displayName">displayName</a>
                                        </span>
                                    
                                        <span x-ww-support="bb_menu">
                                            <a href="blackberry.bbm.platform.users.BBMPlatformUser.html#displayPicture">displayPicture</a>
                                        </span>
                                    
                                        <span x-ww-support="bb_menu">
                                            <a href="blackberry.bbm.platform.users.BBMPlatformUser.html#handle">handle</a>
                                        </span>
                                    
                                        <span x-ww-support="bb_menu">
                                            <a href="blackberry.bbm.platform.users.BBMPlatformUser.html#personalMessage">personalMessage</a>
                                        </span>
                                    
                                        <span x-ww-support="bb_menu">
                                            <a href="blackberry.bbm.platform.users.BBMPlatformUser.html#ppid">ppid</a>
                                        </span>
                                    
                                        <span x-ww-support="bb_menu">
                                            <a href="blackberry.bbm.platform.users.BBMPlatformUser.html#status">status</a>
                                        </span>
                                    
                                        <span x-ww-support="bb_menu">
                                            <a href="blackberry.bbm.platform.users.BBMPlatformUser.html#statusMessage">statusMessage</a>
                                        </span>
                                    
                                </dd>
                            
                        </dl></td></tr></tbody></table>
                    
                </div>
            </div>
        
    
        
        
    
        
        
    

    
</div>



        
        

    
    

    
    
        <div class="ref-sect">
            <div class="ref-sect-title">
                <h2>Functions</h2>
            </div>
            <div class="ref-sect-content">
                
                    <div class="detailed_item function" x-ww-support="bb_menu">
                        <h3>
                            <a name=".setDisplayPicture"></a>
                 
                            
                            
                                
                                    
                                        static              
                                        
                                        
                                            void
                                        
                                        
                                            blackberry.bbm.platform.self.setDisplayPicture
                                            
                                                
                                                    (displayPictureURI : String, onComplete: function(accepted : Boolean))
                                                
                                            
                                                                  
                                    
                                
                            
                            <br />
                        </h3>
                        <div class="detailed description">
                            
                            
                                
                                <br />
                            
                    
                            
                                       
                            
                            
                            <p>Sets the user's display picture from a URI. A dialog will be presented to
the user to allow or deny the change.
<p>The URI must be fully qualified. Non-local URIs must be whitelisted in the application's configuration file. Examples:
<ul>
<li>Locally from within the widget package (e.g. "local:///smiley.jpg")
<li>From the filesystem of the device (e.g. "file:///SDCard/BlackBerry/pictures/smiley.jpg")
</ul>
</p></p>
                            <br />
                            
                            
                            
                                <table>              
                                    <thead><tr><th colspan="2">
                                        Supported Platforms
                                    </th></tr></thead>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- BlackBerry OS 5.0+
                                        </td></tr>
                                    
                                </table>              
                                               
                            <br />
                            
                            
                            
                                <br />
                                <table>
                                    <thead><tr><th colspan="2">
                                        Parameters
                                    </th></tr></thead>
                                                   
                                    
                                        
                                        <tr>
                                            <td><b>displayPictureURI</b></td>
                                            <td>
                                                
                                                The fully qualified URI.                         
                                                
                                            </td>
                                        </tr>
                                    
                                        
                                        <tr>
                                            <td><b>onComplete</b></td>
                                            <td>
                                                
                                                Invoked when the user has dismissed the dialog.                         
                                                
                                                    <br />
                                                    
                                                        <br />
                                                        <b>accepted:</b> <code>true</code> if the user allowed the change;
<code>false</code> otherwise.
                                                    
                                                
                                            </td>
                                        </tr>
                                                  
                                </table>
                                               

                            
                            
                            

                            
                            
                            
                            
                            

                            
                            
                

    <br />
    <b>Code Example:</b>
    
        <table><tbody><td class="code"><code><pre>&lt;script type="text/javascript"&gt;
// Set the user's display picture
blackberry.bbm.platform.self.setDisplayPicture("local:///smiley.jpg", function(accepted) {
    if(accepted) {
        // User allowed the change
    } else {
        // User denied the change
    }
});
&lt;/script&gt;</pre></code></td></tbody></table>
    
  

                        </div>
                    </div>
                
                    <div class="detailed_item function" x-ww-support="bb_menu">
                        <h3>
                            <a name=".setPersonalMessage"></a>
                 
                            
                            
                                
                                    
                                        static              
                                        
                                        
                                            void
                                        
                                        
                                            blackberry.bbm.platform.self.setPersonalMessage
                                            
                                                
                                                    (personalMessage : String, onComplete: function(accepted : Boolean))
                                                
                                            
                                                                  
                                    
                                
                            
                            <br />
                        </h3>
                        <div class="detailed description">
                            
                            
                                
                                <br />
                            
                    
                            
                                       
                            
                            
                            <p>Sets the user's personal message. A dialog will be presented to the user to
allow or deny the change.</p>
                            <br />
                            
                            
                            
                                <table>              
                                    <thead><tr><th colspan="2">
                                        Supported Platforms
                                    </th></tr></thead>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- BlackBerry OS 5.0+
                                        </td></tr>
                                    
                                </table>              
                                               
                            <br />
                            
                            
                            
                                <br />
                                <table>
                                    <thead><tr><th colspan="2">
                                        Parameters
                                    </th></tr></thead>
                                                   
                                    
                                        
                                        <tr>
                                            <td><b>personalMessage</b></td>
                                            <td>
                                                
                                                The personal message. The maximum length is 160 characters;
anything over will be truncated. If <code>null</code> is provided then the personal message
will be cleared.                         
                                                
                                            </td>
                                        </tr>
                                    
                                        
                                        <tr>
                                            <td><b>onComplete</b></td>
                                            <td>
                                                
                                                Invoked when the user has dismissed the dialog.                         
                                                
                                                    <br />
                                                    
                                                        <br />
                                                        <b>accepted:</b> <code>true</code> if the user allowed the change;
<code>false</code> otherwise.
                                                    
                                                
                                            </td>
                                        </tr>
                                                  
                                </table>
                                               

                            
                            
                            

                            
                            
                            
                            
                            

                            
                            
                
  

                        </div>
                    </div>
                
                    <div class="detailed_item function" x-ww-support="bb_menu">
                        <h3>
                            <a name=".setStatus"></a>
                 
                            
                            
                                
                                    
                                        static              
                                        
                                        
                                            void
                                        
                                        
                                            blackberry.bbm.platform.self.setStatus
                                            
                                                
                                                    (status : String, <i>[message : String]</i>, onComplete: function(accepted : Boolean))
                                                
                                            
                                                                  
                                    
                                
                            
                            <br />
                        </h3>
                        <div class="detailed description">
                            
                            
                                
                                <br />
                            
                    
                            
                                       
                            
                            
                            <p>Sets the user's status. A dialog will be presented to the user to allow
or deny the change.</p>
                            <br />
                            
                            
                            
                                <table>              
                                    <thead><tr><th colspan="2">
                                        Supported Platforms
                                    </th></tr></thead>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- BlackBerry OS 5.0+
                                        </td></tr>
                                    
                                </table>              
                                               
                            <br />
                            
                            
                            
                                <br />
                                <table>
                                    <thead><tr><th colspan="2">
                                        Parameters
                                    </th></tr></thead>
                                                   
                                    
                                        
                                        <tr>
                                            <td><b>status</b></td>
                                            <td>
                                                
                                                The status: one of <code>"available"</code> or <code>"busy"</code>.                         
                                                
                                            </td>
                                        </tr>
                                    
                                        
                                        <tr>
                                            <td><b>message</b></td>
                                            <td>
                                                
                                                The optional status message. If not provided then the default message of
either "Available" or "Busy" will be used.                         
                                                
                                            </td>
                                        </tr>
                                    
                                        
                                        <tr>
                                            <td><b>onComplete</b></td>
                                            <td>
                                                
                                                Invoked when the user has dismissed the dialog.                         
                                                
                                                    <br />
                                                    
                                                        <br />
                                                        <b>accepted:</b> <code>true</code> if the user allowed the change;
<code>false</code> otherwise.
                                                    
                                                
                                            </td>
                                        </tr>
                                                  
                                </table>
                                               

                            
                            
                            

                            
                            
                            
                            
                            

                            
                            
                

    <br />
    <b>Code Example:</b>
    
        <table><tbody><td class="code"><code><pre>&lt;script type="text/javascript"&gt;
// Set the user's status and status message
blackberry.bbm.platform.self.setStatus("busy", "Playing Tic-Tac-Toe!", function(accepted) {
    if(accepted) {
        // User allowed the change
    } else {
        // User denied the change
    }
});
&lt;/script&gt;</pre></code></td></tbody></table>
    
  

                        </div>
                    </div>
                
            </div>
        </div>
    

    
    

    
    

    
    

    
    





        <div >
            
            Documentation generated by <a href="http://code.google.com/p/jsdoc-toolkit/" target="_blank">JsDoc Toolkit</a> 2.4.0 on Thu Jul 26 2012 01:29:19 GMT-0400 (EDT)
        </div>

    </div>
</section>

                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

</div>


<script type="text/javascript" src="https://bdsc.webapps.blackberry.com/html5/webroot/js/pageend.min.js"></script>
<script type="text/javascript" src="https://bdsc.webapps.blackberry.com/html5/webroot/js/jquery.carouFredSel-4.4.1-packed.js"></script>
<script type="text/javascript" src="https://client.akamai.com/dlm/dlm.js"></js>
<script> 
    global.init('/html5/', 'apis', 'index', '', '/html5/webroot/');
</script>
<script>
var menu, menu_id_str, selected, siblings;
    menu = null;
    menu_id_str = $('.side-nav-content').attr('id');
    if (menu_id_str !== 'none') {
        menu = menu_id_str;
    }
    $(document).ready(function () {
        stage.initiate();
        stage.add_measurement('footer_top', function () {
            var m = $('#main');
            stage.footer_top = m.offset().top + m.height();
        }, false);
        stage.add_measurement('art_height', function () {
            stage.art_height = $('#main').height();
        }, false);
        stage.initiate();
        sticky.initiate();
        sizer.initiate(); /* Initiates resizing of menu on pages where it is relevant */

        selected = $('.no_children.item_active').first();
        selected.siblings().addClass('active_sibling');
        $("#main a").each(function () {
            $(this).bind('click', function () {
                sticky.scrollEvent();
            });
        });

    });
    $(window).load(function () {
        var container, scrollTo;
        initMenu(window.location.pathname, menu);
        reset_size_and_scroll();
        $(function () {
            container = $('#side-nav-children');
            scrollTo = $('.active', container);
            if (scrollTo.length > 0) {
                container.scrollTop(scrollTo.offset().top - container.offset().top + container.scrollTop() - 80);
            }
        });
    });

    $(window).resize(function (e) {
        if (e) { e.stopPropagation(); }
        reset_size_and_scroll();
    });
    $(window).scroll(function (e) {
        if (e) { e.stopPropagation(); }
        reset_size_and_scroll();
    });
</script>
<script type="text/javascript" src="https://bdsc.webapps.blackberry.com/html5/webroot/js/pageload.min.js"></script>
<script type="text/javascript" src="nav.js"></script>



</body>
</html>

