

<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>
        topics - BlackBerry WebWorks
    </title>

    <script type="text/javascript" src="https://bdsc.webapps.blackberry.com/html5/webroot/js/pagehead.min.js"></script>
    <link href="https://bdsc.webapps.blackberry.com/html5/webroot/css/main.min.css" type="text/css" rel="stylesheet" />
</head>

<body>
<div class="site_container clearfix guide-container">
    

<section  class="page_container references">
	<div class="row">
        <nav class="column grid_4 side-navigation" id="side-nav-api" role="navigation">
            <div id="sticky-anchor"> </div>
            <div class="side-nav-wrapper" id="sticky">
                <div class="side-nav-content clearfix" id="topics_menu">
                    <div class="side-nav-section clearfix" id="side-nav-title">
                        <h3>API Reference</h3>
                    </div>
                    <div class="side-nav-section loading clearfix" id="side-nav-parents"> 
                    </div>
                    <div class="side-nav-section clearfix" id="side-nav-filter"> 
                    </div>
                    <div class="side-nav-section loading clearfix" id="side-nav-children"> 
                    </div>
                </div>
            </div>
            <div class="side-navspacer-bottom"> </div>
        </nav>

        <div class="column grid_8">
                <div class="row">
                    <article id="main" class="column grid_8" role="main">
                        
<h1>API Reference - Topics</h1>
<p>You can view the API reference in a few different layouts. The Topics layout was created to group APIs into meaningful topics, such as BBM, Data Storage, Media, and so on. 
                    If you want to see All classes, please use the navigation on the left to select the appropriate layout.</p>

    <div class="column grid_8 topics">
        <h2> Advertising </h2>
        
            <ul>
                <li> <a href="blackberry.advertising.Banner.html">Banner</a> </li>
            </ul>
        
    </div>

    <div class="column grid_8 topics">
        <h2> BBM </h2>
        
            <ul>
                <li> <a href="blackberry.bbm.platform.html">BBM Platform</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.bbm.platform.io.html">Connections</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.bbm.platform.self.html">Current User</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.bbm.platform.users.html">Other Users</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.bbm.platform.self.profilebox.html">Profile Box</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.bbm.platform.settings.html">Settings</a> </li>
            </ul>
        
    </div>

    <div class="column grid_8 topics">
        <h2> Cache </h2>
        
            <ul>
                <li> <a href="blackberry.widgetcache.CacheInformation.html">CacheInformation</a> </li>
            </ul>
        
            <ul>
                <li> <a href="ApplicationCache.html">HTML5 ApplicationCache</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.widgetcache.html">WidgetCache</a> </li>
            </ul>
        
    </div>

    <div class="column grid_8 topics">
        <h2> Connection </h2>
        
            <ul>
                <li> <a href="blackberry.connection.html">Connection</a> </li>
            </ul>
        
    </div>

    <div class="column grid_8 topics">
        <h2> Data Storage </h2>
        
            <ul>
                <li> <a href="Database.html">HTML5 Database</a> </li>
            </ul>
        
            <ul>
                <li> <a href="localStorage.html">HTML5 Local Storage</a> </li>
            </ul>
        
            <ul>
                <li> <a href="SQLError.html">HTML5 SQLError</a> </li>
            </ul>
        
            <ul>
                <li> <a href="SQLResultSet.html">HTML5 SQLResultSet</a> </li>
            </ul>
        
            <ul>
                <li> <a href="SQLResultSetRowList.html">HTML5 SQLResultSetRowList</a> </li>
            </ul>
        
            <ul>
                <li> <a href="SQLTransaction.html">HTML5 SQLTransaction</a> </li>
            </ul>
        
    </div>

    <div class="column grid_8 topics">
        <h2> Device Motion </h2>
        
            <ul>
                <li> <a href="Acceleration.html">HTML5 Acceleration</a> </li>
            </ul>
        
            <ul>
                <li> <a href="DeviceMotionEvent.html">HTML5 Device Motion Event</a> </li>
            </ul>
        
    </div>

    <div class="column grid_8 topics">
        <h2> Event </h2>
        
            <ul>
                <li> <a href="blackberry.event.html">Event</a> </li>
            </ul>
        
    </div>

    <div class="column grid_8 topics">
        <h2> GPS </h2>
        
            <ul>
                <li> <a href="Coordinates.html">HTML5 Coordinates</a> </li>
            </ul>
        
            <ul>
                <li> <a href="navigator.geolocation.html">HTML5 Geolocation</a> </li>
            </ul>
        
            <ul>
                <li> <a href="Position.html">HTML5 Position</a> </li>
            </ul>
        
            <ul>
                <li> <a href="PositionError.html">HTML5 PositionError</a> </li>
            </ul>
        
            <ul>
                <li> <a href="PositionOptions.html">HTML5 PositionOptions</a> </li>
            </ul>
        
    </div>

    <div class="column grid_8 topics">
        <h2> Identity </h2>
        
            <ul>
                <li> <a href="blackberry.identity.html">Identity</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.identity.phone.html">Phone</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.identity.Service.html">Service</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.identity.Transport.html">Transport</a> </li>
            </ul>
        
    </div>

    <div class="column grid_8 topics">
        <h2> Invoke </h2>
        
            <ul>
                <li> <a href="blackberry.invoke.AddressBookArguments.html">AddressBookArguments</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.invoke.BrowserArguments.html">BrowserArguments</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.invoke.CalendarArguments.html">CalendarArguments</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.invoke.CameraArguments.html">CameraArguments</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.invoke.html">Invoke</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.invoked.html">Invoked</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.invoke.JavaArguments.html">JavaArguments</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.invoke.MapsArguments.html">MapsArguments</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.invoke.MemoArguments.html">MemoArguments</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.invoke.MessageArguments.html">MessageArguments</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.invoke.PhoneArguments.html">PhoneArguments</a> </li>
            </ul>
        
            <ul>
                <li> <a href="QueryResponse.html">Query Response</a> </li>
            </ul>
        
            <ul>
                <li> <a href="QueryResponseTarget.html">Query Response Target</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.invoke.SearchArguments.html">SearchArguments</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.invoke.TaskArguments.html">TaskArguments</a> </li>
            </ul>
        
    </div>

    <div class="column grid_8 topics">
        <h2> IO </h2>
        
            <ul>
                <li> <a href="blackberry.io.dir.html">Directory</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.io.file.html">File</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.io.file.FileProperties.html">FileProperties</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.io.filetransfer.html">FileTransfer</a> </li>
            </ul>
        
            <ul>
                <li> <a href="DirectoryEntry.html">HTML5 DirectoryEntry</a> </li>
            </ul>
        
            <ul>
                <li> <a href="DirectoryReader.html">HTML5 DirectoryReader</a> </li>
            </ul>
        
            <ul>
                <li> <a href="File.html">HTML5 File</a> </li>
            </ul>
        
            <ul>
                <li> <a href="fileEntry.html">HTML5 FileEntry</a> </li>
            </ul>
        
            <ul>
                <li> <a href="FileError.html">HTML5 FileError</a> </li>
            </ul>
        
            <ul>
                <li> <a href="FileReader.html">HTML5 FileReader</a> </li>
            </ul>
        
            <ul>
                <li> <a href="FileSystem.html">HTML5 FileSystem</a> </li>
            </ul>
        
            <ul>
                <li> <a href="FileWriter.html">HTML5 FileWriter</a> </li>
            </ul>
        
            <ul>
                <li> <a href="Flags.html">HTML5 Flags</a> </li>
            </ul>
        
            <ul>
                <li> <a href="LocalFileSystem.html">HTML5 LocalFileSystem</a> </li>
            </ul>
        
            <ul>
                <li> <a href="Metadata.html">HTML5 Metadata</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.io.html">IO</a> </li>
            </ul>
        
    </div>

    <div class="column grid_8 topics">
        <h2> Media </h2>
        
            <ul>
                <li> <a href="blackberry.audio.html">Audio</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.audio.Player.html">Audio Player</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.media.camera.html">Camera</a> </li>
            </ul>
        
            <ul>
                <li> <a href="HTMLAudioElement.html">HTML5 Audio</a> </li>
            </ul>
        
            <ul>
                <li> <a href="HTMLVideoElement.html">HTML5 Video</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.media.microphone.html">Microphone</a> </li>
            </ul>
        
    </div>

    <div class="column grid_8 topics">
        <h2> Message </h2>
        
            <ul>
                <li> <a href="blackberry.message.Message.html">Message</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.message.sms.html">SMS</a> </li>
            </ul>
        
    </div>

    <div class="column grid_8 topics">
        <h2> Payment </h2>
        
            <ul>
                <li> <a href="blackberry.payment.html">Payment</a> </li>
            </ul>
        
            <ul>
                <li> <a href="Purchase.html">Purchase</a> </li>
            </ul>
        
    </div>

    <div class="column grid_8 topics">
        <h2> Phone </h2>
        
            <ul>
                <li> <a href="blackberry.phone.Phone.Call.html">Call</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.phone.PhoneLogs.CallLog.html">CallLog</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.phone.Find.FilterExpression.html">Find FilterExpression</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.phone.Phone.html">Phone</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.phone.PhoneLogs.html">PhoneLogs</a> </li>
            </ul>
        
    </div>

    <div class="column grid_8 topics">
        <h2> PIM </h2>
        
            <ul>
                <li> <a href="blackberry.pim.Address.html">Address</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.pim.Appointment.html">Appointment</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.pim.Attendee.html">Attendee</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.pim.category.html">Category</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.pim.Contact.html">Contact</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.find.FilterExpression.html">FilterExpression</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.pim.Memo.html">Memo</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.pim.Recurrence.html">Recurrence</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.pim.Reminder.html">Reminder</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.pim.Task.html">Task</a> </li>
            </ul>
        
    </div>

    <div class="column grid_8 topics">
        <h2> Push </h2>
        
            <ul>
                <li> <a href="blackberry.push.Data.html">Data</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.push.html">Push</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.push.PushPayload.html">PushPayload</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.push.PushService.html">PushService</a> </li>
            </ul>
        
    </div>

    <div class="column grid_8 topics">
        <h2> System </h2>
        
            <ul>
                <li> <a href="blackberry.app.html">Application</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.app.event.html">Application Event</a> </li>
            </ul>
        
            <ul>
                <li> <a href="Worker.html">HTML5 Web Workers</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.html">Network</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.system.html">System</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.system.event.html">System Event</a> </li>
            </ul>
        
    </div>

    <div class="column grid_8 topics">
        <h2> Touch </h2>
        
            <ul>
                <li> <a href="Element.html">HTML5 Element Touch Events</a> </li>
            </ul>
        
            <ul>
                <li> <a href="TouchEvent.html">HTML5 Touch Event</a> </li>
            </ul>
        
    </div>

    <div class="column grid_8 topics">
        <h2> User Interface </h2>
        
            <ul>
                <li> <a href="blackberry.ui.dialog.html">Dialog</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.focus.html">Focus</a> </li>
            </ul>
        
            <ul>
                <li> <a href="CanvasRenderingContext2D.html">HTML5 2D Canvas Context</a> </li>
            </ul>
        
            <ul>
                <li> <a href="canvas.html">HTML5 Canvas</a> </li>
            </ul>
        
            <ul>
                <li> <a href="WebGLRenderingContext.html">HTML5 WebGL Canvas Context</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.ui.menu.html">Menu</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.ui.menu.MenuItem.html">MenuItem</a> </li>
            </ul>
        
    </div>

    <div class="column grid_8 topics">
        <h2> Utilities </h2>
        
            <ul>
                <li> <a href="blackberry.utils.URL.html">URL</a> </li>
            </ul>
        
            <ul>
                <li> <a href="blackberry.utils.html">Utils</a> </li>
            </ul>
        
    </div>


                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

</div>


<script type="text/javascript" src="https://bdsc.webapps.blackberry.com/html5/webroot/js/pageend.min.js"></script>
<script type="text/javascript" src="https://bdsc.webapps.blackberry.com/html5/webroot/js/jquery.carouFredSel-4.4.1-packed.js"></script>
<script type="text/javascript" src="https://client.akamai.com/dlm/dlm.js"></js>
<script> 
    global.init('/html5/', 'apis', 'index', '', '/html5/webroot/');
</script>
<script>
var menu, menu_id_str, selected, siblings;
    menu = null;
    menu_id_str = $('.side-nav-content').attr('id');
    if (menu_id_str !== 'none') {
        menu = menu_id_str;
    }
    $(document).ready(function () {
        stage.initiate();
        stage.add_measurement('footer_top', function () {
            var m = $('#main');
            stage.footer_top = m.offset().top + m.height();
        }, false);
        stage.add_measurement('art_height', function () {
            stage.art_height = $('#main').height();
        }, false);
        stage.initiate();
        sticky.initiate();
        sizer.initiate(); /* Initiates resizing of menu on pages where it is relevant */

        selected = $('.no_children.item_active').first();
        selected.siblings().addClass('active_sibling');
        $("#main a").each(function () {
            $(this).bind('click', function () {
                sticky.scrollEvent();
            });
        });

    });
    $(window).load(function () {
        var container, scrollTo;
        initMenu(window.location.pathname, menu);
        reset_size_and_scroll();
        $(function () {
            container = $('#side-nav-children');
            scrollTo = $('.active', container);
            if (scrollTo.length > 0) {
                container.scrollTop(scrollTo.offset().top - container.offset().top + container.scrollTop() - 80);
            }
        });
    });

    $(window).resize(function (e) {
        if (e) { e.stopPropagation(); }
        reset_size_and_scroll();
    });
    $(window).scroll(function (e) {
        if (e) { e.stopPropagation(); }
        reset_size_and_scroll();
    });
</script>
<script type="text/javascript" src="https://bdsc.webapps.blackberry.com/html5/webroot/js/pageload.min.js"></script>
<script type="text/javascript" src="nav.js"></script>



</body>
</html>

