

<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>
        HTML5 FileEntry - BlackBerry WebWorks
    </title>

    <script type="text/javascript" src="https://bdsc.webapps.blackberry.com/html5/webroot/js/pagehead.min.js"></script>
    <link href="https://bdsc.webapps.blackberry.com/html5/webroot/css/main.min.css" type="text/css" rel="stylesheet" />
</head>

<body>
<div class="site_container clearfix guide-container">
    

<section  class="page_container references">
	<div class="row">
        <nav class="column grid_4 side-navigation" id="side-nav-api" role="navigation">
            <div id="sticky-anchor"> </div>
            <div class="side-nav-wrapper" id="sticky">
                <div class="side-nav-content clearfix" id="none">
                    <div class="side-nav-section clearfix" id="side-nav-title">
                        <h3>API Reference</h3>
                    </div>
                    <div class="side-nav-section loading clearfix" id="side-nav-parents"> 
                    </div>
                    <div class="side-nav-section clearfix" id="side-nav-filter"> 
                    </div>
                    <div class="side-nav-section loading clearfix" id="side-nav-children"> 
                    </div>
                </div>
            </div>
            <div class="side-navspacer-bottom"> </div>
        </nav>

        <div class="column grid_8">
                <div class="row">
                    <article id="main" class="column grid_8" role="main">
                        

<section>

    <script type="text/javascript">

        function viewSupportedTable() {
            var table = document.getElementById('APISupportTable');
            if (table != null && table.style.display != 'inline') {
                table.style.display = 'inline';
            }
            else {
                table.style.display = 'none';
            }
        }

    </script>
    
    <style type="text/css">

        .apiYes {
            background-color: #D1F8FB;
        }
        
        .tdNoWrap {
            white-space:nowrap;
        }
        
        .APISupportTable {
            display:none;
        }
    </style>

    <div>


        <h1>
            
                HTML5 FileEntry
            
        </h1>


        


        
            
            <br />
        


        


        


        
            <div class="ref-sect ref-index">
                <div class="ref-sect-title">
                    <h2>Supported Platform(s)</h2>
                </div>
                <div class="ref-sect-content">
                    
                        <table>
                            <tbody>
                            
                                <tr><td>- BlackBerry PlayBook 1.0+</td></tr>
                            
                                <tr><td>- BlackBerry 10</td></tr>
                            
                                <tr><td>- Ripple Emulator</td></tr>
                            
                            </tbody>
                        </table>
                    
                    <a href="javascript:viewSupportedTable()">View Supported Platform Table</a>
                    <div class="APISupportTable" id="APISupportTable">
                        <table class="apiTable">
                            <thead><tr><th>API</th><th>BB5.0</th><th>BB6.0</th><th>BB7.0</th><th>PB1.0</th><th>PB2.0</th><th>BB10</th><th>Ripple</th></tr></thead>
                            
                            
                                <tr x-ww-support="pb1.0|pb2.0|bb10x|ripple">
                                    <td>
                                        <a href="fileEntry.html#copyTo">copyTo</a>
                                        <td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td><td class="apiYes">Y</td>
                                    </td>
                                </tr>
                            
                                <tr x-ww-support="pb1.0|pb2.0|bb10x|ripple">
                                    <td>
                                        <a href="fileEntry.html#createWriter">createWriter</a>
                                        <td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td><td class="apiYes">Y</td>
                                    </td>
                                </tr>
                            
                                <tr x-ww-support="pb1.0|pb2.0|bb10x|ripple">
                                    <td>
                                        <a href="fileEntry.html#file">file</a>
                                        <td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td><td class="apiYes">Y</td>
                                    </td>
                                </tr>
                            
                                <tr x-ww-support="pb1.0|pb2.0|bb10x|ripple">
                                    <td>
                                        <a href="fileEntry.html#getMetadata">getMetadata</a>
                                        <td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td><td class="apiYes">Y</td>
                                    </td>
                                </tr>
                            
                                <tr x-ww-support="pb1.0|pb2.0|bb10x|ripple">
                                    <td>
                                        <a href="fileEntry.html#getParent">getParent</a>
                                        <td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td><td class="apiYes">Y</td>
                                    </td>
                                </tr>
                            
                                <tr x-ww-support="pb1.0|pb2.0|bb10x|ripple">
                                    <td>
                                        <a href="fileEntry.html#moveTo">moveTo</a>
                                        <td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td><td class="apiYes">Y</td>
                                    </td>
                                </tr>
                            
                                <tr x-ww-support="pb1.0|pb2.0|bb10x|ripple">
                                    <td>
                                        <a href="fileEntry.html#remove">remove</a>
                                        <td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td><td class="apiYes">Y</td>
                                    </td>
                                </tr>
                            
                                <tr x-ww-support="pb1.0|pb2.0|bb10x|ripple">
                                    <td>
                                        <a href="fileEntry.html#toURL">toURL</a>
                                        <td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiNo">&nbsp;</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td>
<td class="apiYes">Y</td><td class="apiYes">Y</td>
                                    </td>
                                </tr>
                            
                        </table>
                    </div>
                </div>
            </div>
        


        <div class="ref-sect ref-index">
            <div class="ref-sect-title">
                <h2>Configuration Document Settings</h2>
            </div>
            <div class="ref-sect-content">
                <table><tbody>
                    <tr><td>
                        <p>To use <u>all</u> of the API described for this object, you must ensure the following settings are in your configuration document:</p>
                    </td></tr>
                    
                    <tr><td>
                        This API does not require a &lt;feature&gt; element to be declared in the configuration document of your BlackBerry WebWorks Application.
                    </td></tr></tbody></table>
                

                <div x-ww-support="pb1.0|pb2.0">
                    
                    <table>
                        <tr>
                            <th>Permission Elements (PlayBook Only)</th>
                        </tr>
                        
                            <tr><td>
                                This API does not require a &lt;permission&gt; element to be declared in the configuration document of your BlackBerry WebWorks Application.
                            </td></tr>
                            <br />
                        
                    </table>
                </div>
            </div>
        </div>


        
        


<div>
    
        
        
    
        
        
            <br />
            <div class="ref-sect ref-index" x-ww-support="pb1.0|pb2.0|bb10x|ripple">
                <div class="ref-sect-title">
                    <h2> Functions </h2>
                </div>
                <div class="ref-sect-content">
                    
                        <table><tbody>
                            
                                <tr x-ww-support="pb1.0|pb2.0|bb10x|ripple">
                                    <td class="first_column">
                                        
                                            void
                                        
                                    </td>
                                    <td>
                                        <a href="fileEntry.html#copyTo">copyTo</a>
                                        
                                    </td>
                                </tr>
                            
                                <tr x-ww-support="pb1.0|pb2.0|bb10x|ripple">
                                    <td class="first_column">
                                        
                                            void
                                        
                                    </td>
                                    <td>
                                        <a href="fileEntry.html#createWriter">createWriter</a>
                                        
                                    </td>
                                </tr>
                            
                                <tr x-ww-support="pb1.0|pb2.0|bb10x|ripple">
                                    <td class="first_column">
                                        
                                            void
                                        
                                    </td>
                                    <td>
                                        <a href="fileEntry.html#file">file</a>
                                        
                                    </td>
                                </tr>
                            
                                <tr x-ww-support="pb1.0|pb2.0|bb10x|ripple">
                                    <td class="first_column">
                                        
                                            void
                                        
                                    </td>
                                    <td>
                                        <a href="fileEntry.html#getMetadata">getMetadata</a>
                                        
                                    </td>
                                </tr>
                            
                                <tr x-ww-support="pb1.0|pb2.0|bb10x|ripple">
                                    <td class="first_column">
                                        
                                            void
                                        
                                    </td>
                                    <td>
                                        <a href="fileEntry.html#getParent">getParent</a>
                                        
                                    </td>
                                </tr>
                            
                                <tr x-ww-support="pb1.0|pb2.0|bb10x|ripple">
                                    <td class="first_column">
                                        
                                            void
                                        
                                    </td>
                                    <td>
                                        <a href="fileEntry.html#moveTo">moveTo</a>
                                        
                                    </td>
                                </tr>
                            
                                <tr x-ww-support="pb1.0|pb2.0|bb10x|ripple">
                                    <td class="first_column">
                                        
                                            void
                                        
                                    </td>
                                    <td>
                                        <a href="fileEntry.html#remove">remove</a>
                                        
                                    </td>
                                </tr>
                            
                                <tr x-ww-support="pb1.0|pb2.0|bb10x|ripple">
                                    <td class="first_column">
                                        
                                            string
                                        
                                    </td>
                                    <td>
                                        <a href="fileEntry.html#toURL">toURL</a>
                                        
                                    </td>
                                </tr>
                            
                        </tbody></table>
                    
                    
                </div>
            </div>
        
    
        
        
    
        
        
    
        
        
    
        
        
    

    
</div>



        
        

    
    

    
    
        <div class="ref-sect">
            <div class="ref-sect-title clearfix">
                <h2>Functions</h2>
            </div>
            <div class="ref-sect-content">
                
                    <div class="detailed_item function" x-ww-support="pb1.0|pb2.0|bb10x|ripple">
                        <h3>
                            <a name="copyTo"></a>
                 
                            
                            
                                
                                    
                                                      
                                        
                                        
                                            void
                                        
                                        
                                            copyTo
                                            
                                                
                                                    (parent : <a href="DirectoryEntry.html">DirectoryEntry</a>, newName : String, callback: function(), callback : errorCallback)
                                                
                                            
                                                                  
                                    
                                
                            
                            <br />
                        </h3>
                        <div class="detailed description">
                            
                            
                                
                                <br />
                            
                    
                            
                                       
                            
                            
                            <p>Copy function to copy a file to another location in the file system.</p>
                            <br />
                            
                            
                            
                                <table>              
                                    <thead><tr><th colspan="2">
                                        Supported Platforms
                                    </th></tr></thead>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- BlackBerry PlayBook 1.0+
                                        </td></tr>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- BlackBerry 10
                                        </td></tr>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- Ripple Emulator
                                        </td></tr>
                                    
                                </table>              
                                               
                            <br />
                            
                            
                            
                                <br />
                                <table>
                                    <thead><tr><th colspan="2">
                                        Parameters
                                    </th></tr></thead>
                                                   
                                    
                                        
                                        <tr>
                                            <td><b>parent</b></td>
                                            <td>
                                                
                                                directory to copy the file to                         
                                                
                                            </td>
                                        </tr>
                                    
                                        
                                        <tr>
                                            <td><b>newName</b></td>
                                            <td>
                                                
                                                New file name.                         
                                                
                                            </td>
                                        </tr>
                                    
                                        
                                        <tr>
                                            <td><b>callback</b></td>
                                            <td>
                                                
                                                function to execute when it is successful                         
                                                
                                            </td>
                                        </tr>
                                    
                                        
                                        <tr>
                                            <td><b>callback</b></td>
                                            <td>
                                                
                                                function to execute when there is a failure                         
                                                
                                            </td>
                                        </tr>
                                                  
                                </table>
                                               

                            
                            
                            

                            
                            
                            
                            
                            

                            
                            
                
  

                        </div>
                    </div>
                
                    <div class="detailed_item function" x-ww-support="pb1.0|pb2.0|bb10x|ripple">
                        <h3>
                            <a name="createWriter"></a>
                 
                            
                            
                                
                                    
                                                      
                                        
                                        
                                            void
                                        
                                        
                                            createWriter
                                            
                                                
                                                    (callback: function(), callback: function())
                                                
                                            
                                                                  
                                    
                                
                            
                            <br />
                        </h3>
                        <div class="detailed description">
                            
                            
                                
                                <br />
                            
                    
                            
                                       
                            
                            
                            <p>creates the writer to write into the file</p>
                            <br />
                            
                            
                            
                                <table>              
                                    <thead><tr><th colspan="2">
                                        Supported Platforms
                                    </th></tr></thead>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- BlackBerry PlayBook 1.0+
                                        </td></tr>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- BlackBerry 10
                                        </td></tr>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- Ripple Emulator
                                        </td></tr>
                                    
                                </table>              
                                               
                            <br />
                            
                            
                            
                                <br />
                                <table>
                                    <thead><tr><th colspan="2">
                                        Parameters
                                    </th></tr></thead>
                                                   
                                    
                                        
                                        <tr>
                                            <td><b>callback</b></td>
                                            <td>
                                                
                                                function that is called with a FileWriter object.                         
                                                
                                            </td>
                                        </tr>
                                    
                                        
                                        <tr>
                                            <td><b>callback</b></td>
                                            <td>
                                                
                                                function to execute when there is a failure. Invoked with a FileError object.                         
                                                
                                            </td>
                                        </tr>
                                                  
                                </table>
                                               

                            
                            
                            

                            
                            
                            
                            
                            

                            
                            
                
  

                        </div>
                    </div>
                
                    <div class="detailed_item function" x-ww-support="pb1.0|pb2.0|bb10x|ripple">
                        <h3>
                            <a name="file"></a>
                 
                            
                            
                                
                                    
                                                      
                                        
                                        
                                            void
                                        
                                        
                                            file
                                            
                                                
                                                    (callback: function(), callback: function())
                                                
                                            
                                                                  
                                    
                                
                            
                            <br />
                        </h3>
                        <div class="detailed description">
                            
                            
                                
                                <br />
                            
                    
                            
                                       
                            
                            
                            <p>Return a File object that represents the current state of the file that this FileEntry represents.</p>
                            <br />
                            
                            
                            
                                <table>              
                                    <thead><tr><th colspan="2">
                                        Supported Platforms
                                    </th></tr></thead>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- BlackBerry PlayBook 1.0+
                                        </td></tr>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- BlackBerry 10
                                        </td></tr>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- Ripple Emulator
                                        </td></tr>
                                    
                                </table>              
                                               
                            <br />
                            
                            
                            
                                <br />
                                <table>
                                    <thead><tr><th colspan="2">
                                        Parameters
                                    </th></tr></thead>
                                                   
                                    
                                        
                                        <tr>
                                            <td><b>callback</b></td>
                                            <td>
                                                
                                                function that is called with a File object.                         
                                                
                                            </td>
                                        </tr>
                                    
                                        
                                        <tr>
                                            <td><b>callback</b></td>
                                            <td>
                                                
                                                function to execute when there is an error during creating the File object. Invoked with a FileError object. (Function)                         
                                                
                                            </td>
                                        </tr>
                                                  
                                </table>
                                               

                            
                            
                            

                            
                            
                            
                            
                            

                            
                            
                
  

                        </div>
                    </div>
                
                    <div class="detailed_item function" x-ww-support="pb1.0|pb2.0|bb10x|ripple">
                        <h3>
                            <a name="getMetadata"></a>
                 
                            
                            
                                
                                    
                                                      
                                        
                                        
                                            void
                                        
                                        
                                            getMetadata
                                            
                                                
                                                    (callback: function(), callback: function())
                                                
                                            
                                                                  
                                    
                                
                            
                            <br />
                        </h3>
                        <div class="detailed description">
                            
                            
                                
                                <br />
                            
                    
                            
                                       
                            
                            
                            <p>returns information (metadata) regarding to the fileEntry</p>
                            <br />
                            
                            
                            
                                <table>              
                                    <thead><tr><th colspan="2">
                                        Supported Platforms
                                    </th></tr></thead>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- BlackBerry PlayBook 1.0+
                                        </td></tr>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- BlackBerry 10
                                        </td></tr>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- Ripple Emulator
                                        </td></tr>
                                    
                                </table>              
                                               
                            <br />
                            
                            
                            
                                <br />
                                <table>
                                    <thead><tr><th colspan="2">
                                        Parameters
                                    </th></tr></thead>
                                                   
                                    
                                        
                                        <tr>
                                            <td><b>callback</b></td>
                                            <td>
                                                
                                                function that will execute when the event occurs successfully.                         
                                                
                                            </td>
                                        </tr>
                                    
                                        
                                        <tr>
                                            <td><b>callback</b></td>
                                            <td>
                                                
                                                function that will execute when the event fails                         
                                                
                                            </td>
                                        </tr>
                                                  
                                </table>
                                               

                            
                            
                            

                            
                            
                            
                            
                            

                            
                            
                
  

                        </div>
                    </div>
                
                    <div class="detailed_item function" x-ww-support="pb1.0|pb2.0|bb10x|ripple">
                        <h3>
                            <a name="getParent"></a>
                 
                            
                            
                                
                                    
                                                      
                                        
                                        
                                            void
                                        
                                        
                                            getParent
                                            
                                                
                                                    (callback: function(), callback: function())
                                                
                                            
                                                                  
                                    
                                
                            
                            <br />
                        </h3>
                        <div class="detailed description">
                            
                            
                                
                                <br />
                            
                    
                            
                                       
                            
                            
                            <p>returns the parent directoryEntry containing the specified fileEntry</p>
                            <br />
                            
                            
                            
                                <table>              
                                    <thead><tr><th colspan="2">
                                        Supported Platforms
                                    </th></tr></thead>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- BlackBerry PlayBook 1.0+
                                        </td></tr>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- BlackBerry 10
                                        </td></tr>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- Ripple Emulator
                                        </td></tr>
                                    
                                </table>              
                                               
                            <br />
                            
                            
                            
                                <br />
                                <table>
                                    <thead><tr><th colspan="2">
                                        Parameters
                                    </th></tr></thead>
                                                   
                                    
                                        
                                        <tr>
                                            <td><b>callback</b></td>
                                            <td>
                                                
                                                function to execute when it is successful                         
                                                
                                            </td>
                                        </tr>
                                    
                                        
                                        <tr>
                                            <td><b>callback</b></td>
                                            <td>
                                                
                                                function to execute when there is a failure                         
                                                
                                            </td>
                                        </tr>
                                                  
                                </table>
                                               

                            
                            
                            

                            
                            
                            
                            
                            

                            
                            
                

    <br />
    <b>Code Example:</b>
    
        <table><tbody><td class="code"><code><pre>
function success(parent) {
	console.log("Parent Name: " + parent.name);
}

function fail(error) {
	alert(error.code);
}

// Get the parent DirectoryEntry
entry.getParent(success, fail);</pre></code></td></tbody></table>
    
  

                        </div>
                    </div>
                
                    <div class="detailed_item function" x-ww-support="pb1.0|pb2.0|bb10x|ripple">
                        <h3>
                            <a name="moveTo"></a>
                 
                            
                            
                                
                                    
                                                      
                                        
                                        
                                            void
                                        
                                        
                                            moveTo
                                            
                                                
                                                    (parent : <a href="DirectoryEntry.html">DirectoryEntry</a>, newName : String, callback: function(), callback: function())
                                                
                                            
                                                                  
                                    
                                
                            
                            <br />
                        </h3>
                        <div class="detailed description">
                            
                            
                                
                                <br />
                            
                    
                            
                                       
                            
                            
                            <p>moves a file to a different location on the file system</p>
                            <br />
                            
                            
                            
                                <table>              
                                    <thead><tr><th colspan="2">
                                        Supported Platforms
                                    </th></tr></thead>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- BlackBerry PlayBook 1.0+
                                        </td></tr>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- BlackBerry 10
                                        </td></tr>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- Ripple Emulator
                                        </td></tr>
                                    
                                </table>              
                                               
                            <br />
                            
                            
                            
                                <br />
                                <table>
                                    <thead><tr><th colspan="2">
                                        Parameters
                                    </th></tr></thead>
                                                   
                                    
                                        
                                        <tr>
                                            <td><b>parent</b></td>
                                            <td>
                                                
                                                directory to move the file to                         
                                                
                                            </td>
                                        </tr>
                                    
                                        
                                        <tr>
                                            <td><b>newName</b></td>
                                            <td>
                                                
                                                The new name of the file.                         
                                                
                                            </td>
                                        </tr>
                                    
                                        
                                        <tr>
                                            <td><b>callback</b></td>
                                            <td>
                                                
                                                function to execute when it is successful                         
                                                
                                            </td>
                                        </tr>
                                    
                                        
                                        <tr>
                                            <td><b>callback</b></td>
                                            <td>
                                                
                                                function to execute when there is a failure                         
                                                
                                            </td>
                                        </tr>
                                                  
                                </table>
                                               

                            
                            
                            

                            
                            
                            
                            
                            

                            
                            
                
  

                        </div>
                    </div>
                
                    <div class="detailed_item function" x-ww-support="pb1.0|pb2.0|bb10x|ripple">
                        <h3>
                            <a name="remove"></a>
                 
                            
                            
                                
                                    
                                                      
                                        
                                        
                                            void
                                        
                                        
                                            remove
                                            
                                                
                                                    (Callback: function(), Callback: function())
                                                
                                            
                                                                  
                                    
                                
                            
                            <br />
                        </h3>
                        <div class="detailed description">
                            
                            
                                
                                <br />
                            
                    
                            
                                       
                            
                            
                            <p>deletes the file from the filesystem</p>
                            <br />
                            
                            
                            
                                <table>              
                                    <thead><tr><th colspan="2">
                                        Supported Platforms
                                    </th></tr></thead>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- BlackBerry PlayBook 1.0+
                                        </td></tr>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- BlackBerry 10
                                        </td></tr>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- Ripple Emulator
                                        </td></tr>
                                    
                                </table>              
                                               
                            <br />
                            
                            
                            
                                <br />
                                <table>
                                    <thead><tr><th colspan="2">
                                        Parameters
                                    </th></tr></thead>
                                                   
                                    
                                        
                                        <tr>
                                            <td><b>Callback</b></td>
                                            <td>
                                                
                                                function when the file is successful                         
                                                
                                            </td>
                                        </tr>
                                    
                                        
                                        <tr>
                                            <td><b>Callback</b></td>
                                            <td>
                                                
                                                function when there is a failure                         
                                                
                                            </td>
                                        </tr>
                                                  
                                </table>
                                               

                            
                            
                            

                            
                            
                            
                            
                            

                            
                            
                
  

                        </div>
                    </div>
                
                    <div class="detailed_item function" x-ww-support="pb1.0|pb2.0|bb10x|ripple">
                        <h3>
                            <a name="toURL"></a>
                 
                            
                            
                                
                                    
                                                      
                                        
                                        string
                                        
                                        
                                            toURL
                                            
                                                
                                                    ()
                                                
                                            
                                                                  
                                    
                                
                            
                            <br />
                        </h3>
                        <div class="detailed description">
                            
                            
                                
                                <br />
                            
                    
                            
                                       
                            
                            
                            <p>Returns a URL that can be used to locate the file.</p>
                            <br />
                            
                            
                            
                                <table>              
                                    <thead><tr><th colspan="2">
                                        Supported Platforms
                                    </th></tr></thead>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- BlackBerry PlayBook 1.0+
                                        </td></tr>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- BlackBerry 10
                                        </td></tr>
                                    
                                        <tr><td></td><td>
                                            &nbsp;- Ripple Emulator
                                        </td></tr>
                                    
                                </table>              
                                               
                            <br />
                            
                            
                                               

                            
                            
                            

                            
                            
                            
                            
                            

                            
                            
                
  

                        </div>
                    </div>
                
            </div>
        </div>
    

    
    

    
    

    
    

    
    





        <div >
            
            Documentation generated by <a href="http://code.google.com/p/jsdoc-toolkit/" target="_blank">JsDoc Toolkit</a> 2.4.0 on Mon Aug 20 2012 17:05:34 GMT-0400 (EDT)
        </div>

    </div>
</section>

                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

</div>


<script type="text/javascript" src="https://bdsc.webapps.blackberry.com/html5/webroot/js/pageend.min.js"></script>
<script type="text/javascript" src="https://bdsc.webapps.blackberry.com/html5/webroot/js/jquery.carouFredSel-4.4.1-packed.js"></script>
<script type="text/javascript" src="https://client.akamai.com/dlm/dlm.js"></js>
<script> 
    global.init('/html5/', 'apis', 'index', '', '/html5/webroot/');
</script>
<script>
	var menu, menu_id_str, selected, siblings;
	menu = null;
	menu_id_str = $('.side-nav-content').attr('id');
	if (menu_id_str !== 'none') {
		menu = menu_id_str;
	}
	$(document).ready(function () {
		stage.initiate();
		sticky.initiate();
		sizer.initiate(); /* Initiates resizing of menu on pages where it is relevant */

		selected = $('.no_children.item_active').first();
		selected.siblings().addClass('active_sibling');
		$("#main a").each(function () {
			$(this).bind('click', function () {
				sticky.scrollEvent();
			});
		});
		
	});
	$(window).load(function () {
		var container, scrollTo;
		renderMenu(window.location.pathname, menu);
		reset_size_and_scroll();
		$(function () {
			container = $('#side-nav-children');
			scrollTo = $('.active', container);
			if (scrollTo.length > 0) {
				container.scrollTop(scrollTo.offset().top - container.offset().top + container.scrollTop() - 80);
			}
		});
	});

	$(window).resize(function (e) {
		if (e) { e.stopPropagation(); }
		reset_size_and_scroll();
	});
	$(window).scroll(function (e) {
		if (e) { e.stopPropagation(); }
		reset_size_and_scroll();
	});
</script>
<script type="text/javascript" src="https://bdsc.webapps.blackberry.com/html5/webroot/js/pageload.min.js"></script>
<script type="text/javascript" src="nav.js"></script>



</body>
</html>

